/* font */
@font-face {
  font-family: "YoungSerif";
  font-weight: 400;
  src: url("./fonts/YoungSerif-Regular.ttf");
}
@font-face {
  font-family: "Outfit";
  src: url("./fonts/Outfit-VariableFont_wght.ttf");
}

/* reset style */
html, body, div, h1, h2,
img, p, ul, ol, li, table {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
ul, ol, li {
  list-style-type: none;
}

/* common style */
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-brown-800: hsl(14, 45%, 36%);
  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);
}
.prep-info-title,
.info-highlight,
.step-highlight,
.nutrition-value {
  font-weight: 600;
}
.recipe-title,
.section-title {
  font-family: "YoungSerif";
  font-weight: 400;
}
.section {
  padding: 30px 0 25px;
  border-bottom: 1px solid var(--color-stone-150);
}
.section:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.section-title {
  font-size: 28px;
  line-height: 120%;
  color: var(--color-brown-800);
  margin-bottom: 18px;
}
.section-list {
  margin-left: 42px;
}
.section-list-item {
  line-height: 195%;
}
.step-list-item {
  line-height: 150%;
  margin-bottom: 7px;
}

/* main style */
body {
  background-color: var(--color-stone-100);
  font-family: "Outfit";
  font-size: 16px;
  font-weight: 400;
  color: var(--color-stone-600);
}
.recipe-wrapper {
  background-color: var(--color-white);
  width: 736px;
  margin: 150px auto;
  padding: 40px;
  border-radius: 20px;
}
.recipe-image-area {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.recipe-image {
  width: 100%;
}
.recipe-title {
  font-size: 40px;
  line-height: 120%;
  color: var(--color-stone-900);
  margin: 36px 0 20px;
}
.recipe-description {
  line-height: 150%;
}
.prep-info-box {
  margin-top: 30px;
  padding: 20px 30px;
  background-color: var(--color-rose-50);
  border-radius: 10px;
}
.prep-info-title {
  font-size: 20px;
  line-height: 195%;
  color: var(--color-rose-800);
}
.prep-info-item {
  line-height: 195%;
  margin-left: 35px;
}
.prep-info-item,
.section-list-item,
.step-list-item {
  position: relative;
}
.prep-info-item::before,
.section-list-item::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 15px;
  left: -28px;
}
.prep-info-item::before {
  background-color: var(--color-rose-800);
}
.section-list-item::before {
  background-color: var(--color-brown-800);
}
.step-list-item:last-child {
  margin-bottom: 0;
}
.step-list-item::before {
  position: absolute;
  top: 0px;
  left: -28px;
  font-weight: 600;
  color: var(--color-brown-800);
}
.step-list-item:first-child::before {
  content: "1.";
}
.step-list-item:nth-child(2)::before {
  content: "2.";
}
.step-list-item:nth-child(3)::before {
  content: "3.";
}
.step-list-item:nth-child(4)::before {
  content: "4.";
}
.step-list-item:nth-child(5)::before {
  content: "5.";
}
.step-list-item:nth-child(6)::before {
  content: "6.";
}
.nutrition-table {
  margin-top: 10px;
}
.nutrition-row {
  padding: 17px 32px;
  display: flex;
  border-bottom: 1px solid var(--color-stone-150);
}
.nutrition-row:last-child {
  border-bottom: 0;
}
.nutrition-label,
.nutrition-value {
  flex: 1;
}
.nutrition-value {
  color: var(--color-brown-800);
  padding-left: 10px;
}

@media (max-width: 440px) { 
  .recipe-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
  .recipe-image-area {
    height: 45.85vw;
    border-radius: 0;
  }
  .recipe-content {
    padding: 0 32px 32px;
  }
  .recipe-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .prep-info-box {
    margin-top: 36px;
    padding: 14px 26px 32px;
  }
  .section {
    padding-top: 26px;
    padding-right: 3 px;
    padding-bottom: 32px;
  }
  .section-list {
    margin-left: 41px;
  }
  .prep-info-item,
  .section-list-item,
  .step-list-item {
    line-height: 150%;
    margin-bottom: 5px;
  }
  .prep-info-item::before,
  .section-list-item::before {
    top: 10px;
  }
  .prep-info-item:last-child,
  .section-list-item:last-child,
  .step-list-item:last-child {
    margin-bottom: 0;
  }
}.nutrition-value {
  padding-left: 20px;
}