/* font */
@font-face {
  font-family: "YoungSerif";
  font-weight: 400;
  src: url("./fonts/YoungSerif-Regular.ttf");
}
@font-face {
  font-family: "Outfit";
  src: url("./fonts/Outfit-VariableFont_wght.ttf");
}

/* reset style */
html, body, div, h1, h2,
img, p, ul, ol, li, table {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
ul, ol, li {
  list-style-type: none;
}

/* common style */
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-brown-800: hsl(14, 45%, 36%);
  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);
}
.prep-info-title,
.info-highlight,
.step-highlight,
.nutrition-value {
  font-weight: 600;
}
.recipe-title,
.section-title {
  font-family: "YoungSerif";
  font-weight: 400;
}
.section {
  padding: 30px 0 25px;
  border-bottom: 1px solid var(--color-stone-150);
}
.section:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.section-title {
  font-size: 1.75rem; /* 28px */
  line-height: 1.2;
  color: var(--color-brown-800);
  margin-bottom: 18px;
}
.section-list {
  margin-left: 42px;
}
.section-list-item {
  line-height: 1.95;
}
.step-list-item {
  line-height: 1.5;
  margin-bottom: 7px;
}

/* main style */
body {
  height: 100svh;
  background-color: var(--color-stone-100);
  font-family: "Outfit";
  color: var(--color-stone-600);
}
.recipe-wrapper {
  background-color: var(--color-white);
  width: 736px;
  margin: 150px auto;
  padding: 40px;
  border-radius: 20px;
}
.recipe-image-area {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.recipe-image {
  width: 100%;
}
.recipe-title {
  font-size: 2.5rem; /* 40px */
  line-height: 1.2;
  color: var(--color-stone-900);
  margin: 36px 0 20px;
}
.recipe-description {
  line-height: 1.5;
}
.prep-info-box {
  margin-top: 30px;
  padding: 20px 30px;
  background-color: var(--color-rose-50);
  border-radius: 10px;
}
.prep-info-title {
  font-size: 1.25rem; /* 20px */
  line-height: 1.95;
  color: var(--color-rose-800);
}
.prep-info-item {
  line-height: 1.95;
  margin-left: 35px;
}
.prep-info-item,
.section-list-item,
.step-list-item {
  position: relative;
}
.prep-info-item::before,
.section-list-item::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 15px;
  left: -28px;
}
.prep-info-item::before {
  background-color: var(--color-rose-800);
}
.section-list-item::before {
  background-color: var(--color-brown-800);
}
.step-list-item:last-child {
  margin-bottom: 0;
}
.step-list-item::before {
  position: absolute;
  top: 0px;
  left: -28px;
  font-weight: 600;
  color: var(--color-brown-800);
}
.step-list-item:first-child::before {
  content: "1.";
}
.step-list-item:nth-child(2)::before {
  content: "2.";
}
.step-list-item:nth-child(3)::before {
  content: "3.";
}
.step-list-item:nth-child(4)::before {
  content: "4.";
}
.step-list-item:nth-child(5)::before {
  content: "5.";
}
.step-list-item:nth-child(6)::before {
  content: "6.";
}
.nutrition-table {
  margin-top: 10px;
}
.nutrition-row {
  padding: 17px 32px;
  display: flex;
  border-bottom: 1px solid var(--color-stone-150);
}
.nutrition-row:last-child {
  border-bottom: 0;
}
.nutrition-label,
.nutrition-value {
  flex: 1;
}
.nutrition-value {
  color: var(--color-brown-800);
  padding-left: 10px;
}

@media (min-width: 501px) and (max-width: 800px) {
  /* common style */
  .section {
    padding: 3.3333vw 0 2.7778vw; /* 30px 0 25px */
    border-bottom: 1px solid var(--color-stone-150);
  }
  .section-title {
    margin-bottom: 2vw; /* 18px */
  }
  .section-list {
    margin-left: 4.6667vw; /* 42px */
  }
  .step-list-item {
    margin-bottom: 0.7778vw; /* 7px */
  }
  /* main style */
  .recipe-wrapper {
    background-color: var(--color-white);
    width: 81.7778vw; /* 736px */
    margin: 16.6667 auto; /* 150px */
    padding: 4.4444vw; /* 40px */
    border-radius: 2.2222vw; /* 20px */
  }
  .recipe-image-area {
    height: 33.3333vw; /* 300px */
    border-radius: 1.1111vw ; /* 10px */
  }
  .recipe-title {
    margin: 4vw 0 2.2222vw; /* 36px 0 20px */
  }
  .prep-info-box {
    margin-top: 3.3333vw; /*30px*/
    padding: 2.2222vw 3.3333vw; /*20px 30px*/
    border-radius: 1.1111vw ; /* 10px */
  }
  .nutrition-table {
    margin-top: 1.1111vw ; /* 10px */
  }
  .nutrition-row {
    padding: 1.8889vw 3.5556vw; /* 17px 32px */
  }
  .nutrition-value {
    padding-left: 1.1111vw ; /* 10px */
  }
}
@media (max-width: 500px) { 
  .recipe-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
  .recipe-image-area {
    height: 45.85vw;
    border-radius: 0;
  }
  .recipe-content {
    padding: 0 8.5333vw 8.5333vw; /* 0 32px 32px */
  }
  .recipe-title {
    font-size: 2.25rem; /* 36px */
    margin-bottom: 5.3333vw; /* 20px */
  }
  .prep-info-box {
    margin-top: 9.6vw; /* 36px */
    padding: 3.7333vw 6.9333vw 8.5333vw; /* 14px 26px 32px */
  }
  .section {
    padding-top: 6.9333vw; /* 26px */
    padding-right: 0.8vw; /* 3px */
    padding-bottom: 8.5333vw; /* 32px */
  }
  .section-list {
    margin-left: 10.9333vw; /* 41px */
  }
  .prep-info-item,
  .section-list-item,
  .step-list-item {
    line-height: 1.5;
    margin-bottom: 1.3333vw; /* 5px */
  }
  .prep-info-item::before,
  .section-list-item::before {
    top: 2.6667vw; /* 10px */
  }
  .prep-info-item:last-child,
  .section-list-item:last-child,
  .step-list-item:last-child {
    margin-bottom: 0;
  }
  .nutrition-value {
    padding-left: 5.3333vw; /* 20px */
  }
}